int* get_int_ptr(int value) {
    return new int(value);
}

type foo {
    int* a;
    byte b;
};

foo[] bar(int count) {
    foo[] values = foo[5](
        foo(get_int_ptr(1), 'a'),
        foo(get_int_ptr(2), 'b'),
        foo(get_int_ptr(3), 'c'),
        foo(get_int_ptr(4), 'd'),
        foo(get_int_ptr(5), 'e')
    );

    foo[] result = new foo[count]();

    int counter = 0;
    while (counter < 5 && counter < count) {
        result[counter] = values[counter];
        counter++;
    }

    return result;
}


