build
draft
.vscode
vgcore*
example/**/*.c
example/**/*.h
subprojects/boxfort.wrap
subprojects/boxfort
subprojects/criterion.wrap
subprojects/criterion
subprojects/nanomsg.wrap
subprojects/nanomsg
subprojects/nanopb.wrap
subprojects/nanopb
subprojects/libgit2.wrap
subprojects/libgit2
notes
a.out